.top-bar {
  background-color: greenyellow;
  padding: 5px;
}

i {
  padding-right: 5px;
}
.search-top {
  margin-top: 2rem;
}
li{
    padding-left: 2rem;
}
#carouselimg
{
    height: 500px;
    width: 100%;
}
p{
    text-align: center;
    font-size: medium;
    margin-top: 1rem;
}
